@model S00126699_CA2.Models.Movie

@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="container" align="center">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create Movie</h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form">
                            <fieldset>
                                <div class="form-group">
                                    <p><b>Movie Name</b></p>
                                    @Html.EditorFor(model => model.MoviesName)
                                    @Html.ValidationMessageFor(model => model.MoviesName)
                                </div>
                                <div class="form-group">
                                    <p><b>Movie Description</b></p>
                                    @Html.EditorFor(model => model.Description)
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                                @*<p>
                                    <input type="submit" value="Create" />
                                </p>*@
                                <input class="btn btn-success" type="submit" value="Create">
                                <div>
                                    
                                    
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-info ">
                                                <span class="glyphicon glyphicon-arrow-left"></span>
                                               
                                                @Html.ActionLink("Back to List", "Index")
                                            </label>
                                        
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

