@model S00126699_CA2.Models.Movie

@{
    ViewBag.Title = "Edit Movies";
}
<div align="center" class="container">
    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            

            @Html.HiddenFor(model => model.MovieID)

            <div class="editor-label">
                @Html.LabelFor(model => model.MoviesName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MoviesName)
                @Html.ValidationMessageFor(model => model.MoviesName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <p>
                
            </p>

            <div class="input-group" data-toggle="buttons">
                <label class="pdsa-radiobutton btn btn-default active">
                    <span class="glyphicon glyphicon-ok-circle"></span>
                        <input type="submit" value="Save" />
                    
                </label>
            </div>
        </fieldset>
    }

    <div class="btn-group" data-toggle="buttons">
        <label class="pdsa-radiobutton btn btn-danger active">
            <span class="glyphicon glyphicon-remove"></span>
            @Html.ActionLink("Cancel Editing", "Index")
        </label>
    </div>

    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
