@model IEnumerable<S00126699_CA2.Models.Actor>

@{
    ViewBag.Title = "Index";
}

<h2>All Actors</h2>

<div class="btn-group" data-toggle="buttons">
    <label class="pdsa-radiobutton btn btn-default active">
        <span class="glyphicon glyphicon-arrow-left"></span>
        @Html.ActionLink("Back to Home Page", "Index", "Home")
    </label>
</div>

            <table class="table table-striped">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.MovieID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScreenName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenName)
            </td>
            <td>
              
                <div class="form-group">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="pdsa-radiobutton btn btn-danger active">
                            <span class="glyphicon glyphicon-minus"></span>
                            @Html.ActionLink("Delete", "Delete", new { id = item.MovieID })
                        </label>
                    </div>
                </div>
            
                        </td>
                    </tr>
    }

</table>

